@font-face {
	src: url("../fonts/OpenSans-Regular.ttf");
	font-family: "Open Sans";
}

body {
	margin: 0;
    font-family: "Open Sans";
}

/* FORM */

.todolist__form {
	position: relative;
}

.todolist__input {
    max-width: 100%;
    width: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0 50px 0 20px;
    font-family: "Open sans";
    font-size: 16px;
    background: #fff;
    height: 60px;
    vertical-align: middle;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    outline: none;
}

.todolist__input:focus {
    border-color: #1e87f0;
    outline: 0;
}

.todolist__buttons {
	display: flex;
   	position: absolute;
    right: 0;
    top: 0;
}

.todolist__button {
	width: 50px;
    height: 60px;
    border: 0;
    padding: 0;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
}

/* TAB */

.todolist__tabs {
	display: flex;
}

.todolist__tab-item {
    color: #999;
    border-color: #1e87f0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 0;
    cursor: pointer;
    border-top: 1px solid transparent;
    transition: all, .25s;
}

.todolist__tab-item--active {
    border-color: #1e87f0;
    color: #222;
}

/* ROW */

.todolist__row {
    background-color: #1e87f0;
    position: relative;
    color: #fff;
    text-align: left;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
}

.todolist__row--return {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    display: none;
    text-align: center;
}

.todolist__row--remove {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    text-align: center;
}

.todolist__row--checked {
    background: #32d296;
    display: block;
}

.todolist__row--archive {
    background: #f8f8f8;
    color: #222;
}

.todolist__row--archive .todolist__row--return {
    display: block;
}

.todolist__row--checked .todolist__checkbox {
    background-color: #32d296;
    border: 0;
}

.todolist__row--checked .todolist__checkbox:before {
	content: '\f00c';
}

.todolist__row--archive {
    display: block;
    background: #f8f8f8;
    color: #222;
}

.todolist__row--archive .todolist__checkbox {
	background: none;
}

.todolist__checkbox {
    display: inline-block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ccc;
    transition: .2s ease-in-out;
    transition-property: background-color,border;
    outline: none;
    color: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.todolist__checkbox:before {
    content: '';
    font-family: "Font Awesome 5 Pro";
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todolist__text {
    display: inline-block;
    width: calc(100% - 85px);
    margin-left: 25px;
    word-wrap: break-word;
}